<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829011178828-jkjbp60ib97ag8fqpu64n41ev0h9tlj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829011178828-jkjbp60ib97ag8fqpu64n41ev0h9tlj1</string>
	<key>API_KEY</key>
	<string>AIzaSyA4eD4iL0VTRWHMVXRZelP_8JyBFxC8mHg</string>
	<key>GCM_SENDER_ID</key>
	<string>829011178828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>flutter-drivenui</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-drivenui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829011178828:ios:d5a9707775dcdaca790be9</string>
</dict>
</plist>